<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.ibm.db2.jcc.DB2Driver</property>
		<property name="connection.url">jdbc:db2://localhost:50001/VSISP</property>
		<property name="connection.username">vsisp13</property>
		<property name="connection.password">BRsNVolx</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.DB2Dialect</property>
		<!-- Session context -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
<!-- 		<property name="hbm2ddl.auto">update</property> -->
        <mapping class="org.dis.sheet02.entities.EstateAgent"/>
        <mapping class="org.dis.sheet02.entities.Person"/>
        <mapping class="org.dis.sheet02.entities.House"/>
        <mapping class="org.dis.sheet02.entities.Apartment"/>
        <mapping class="org.dis.sheet02.entities.Estate"/>
        <mapping class="org.dis.sheet02.entities.Contract"/>
        <mapping class="org.dis.sheet02.entities.TenancyContract"/>
        <mapping class="org.dis.sheet02.entities.PurchaseContract"/>
	</session-factory>
</hibernate-configuration>